body {
  background-color: #2b7a78;
  text-align: center;
  margin: 0%;
}
.cabecero {
  background-color: #17252a;
  color: #def2f1;
  padding: 20px 20px;
  width: 100% fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecero h1{
  font-family: "Racing Sans One", sans-serif;
  letter-spacing: 2px;
  
  justify-content: center;
  width: fit-content;  
  padding: 0px 50px;
  margin: 0% auto;
  border: solid 3px #3aafa9;
  border-radius: 24px;
  
}

.cabecero p {
  font-family: "NTR", sans-serif;
  margin: 0 auto;
  margin-top: 10px;
  width: 417px;
  line-height:16px;
}

.seccion_calculadora{
    margin: 25px 0;
}

.calculadora_diseño{
    max-width: 350px ;
    max-height: 450px ;
    background-color: #17252A;
    margin: 0 auto;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    display: inline-block;
}
.pantalla{
    background-color: #DEF2F1;
    width: 337px;
    height: 100px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
}

.mostrarResultado{
    font-size: 50px;
    font-family: "NTR", sans-serif;
    width: fit-content;
}

.botones{
    font-family: "NTR", sans-serif;
    font-size: 25px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #3AAFA9;
    color: #FEFFFF;
    margin: 1px;
}

form{
    display: flex;
}

.lado_derecho button{
height: 155px;
}

.lado_izquiero{
    all: unset;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.numero{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.operandos{
    margin-bottom: 0px;
    padding: 10px;
}